{% extends 'base_deputy.html' %}
{% block title %}Book Exam{% endblock %}
{% block styles %}
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/img/favicon/favicon.ico') }}"/>

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com"/>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
<link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet"
/>

<!-- Icons. Uncomment required icon fonts -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/fonts/boxicons.css') }}"/>

<!-- Core CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/css/core.css') }}"
      class="template-customizer-core-css"/>
<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/css/theme-default.css') }}"
      class="template-customizer-theme-css"/>
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/demo.css') }}"/>

<!-- Vendors CSS -->
<link rel="stylesheet"
      href="{{ url_for('static', filename='assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css') }}"/>

<!-- Page CSS -->
<!-- Page -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/css/pages/page-auth.css') }}"/>
<!-- Helpers -->
<script src="{{ url_for('static', filename='assets/vendor/js/helpers.js') }}"></script>

<!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
<!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
<script src="{{ url_for('static', filename='assets/js/config.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/libs/jquery/jquery.js') }}"></script>
<style>
    .iinput-group {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }
</style>
{% endblock %}

{% block pageContent %}
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Studies Related/</span> Book Exam</h4>

        <!-- Basic Layout -->
        <div class="row">
            <div class="col-lg-8 mb-4 order-0">
                <div class="card mb-4">
                    <h5 class="card-header">Book exam here!..</h5>
                    <div class="card-body">
                        <form id="formRegister" method="POST">
                            <div class="mb-4">
                                <label class="form-label" for="SearchStudent">Student Name</label>
                                <input type="text" class="form-control" id="SearchStudent" name="SearchStudent" />
                                <input type="hidden" name="studentid" id="studentid">
                                <input type="hidden" name="getsecond" id="getsecond">
                                <input type="hidden" name="subject_id" id="subject_id">
                                <input type="hidden" name="user_id" id="user_id" value="{{ user_id }}">
                            </div>
                            <div class="mb-3">
                                <label for="paperno" class="form-label">Papers *</label>
                                <select id="paperno" name="paperno" class="form-select">
                                    <option>-- select paper no --</option>
                                    {% for key  in papers %}
                                        <option value="{{ key.paper_id }}">{{ key.paper_no }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3 row">
                                <label for="examdate" class="col-md-2 col-form-label">Exam Date *</label>
                                <div class="col-md-10">
                                  <input class="form-control" type="date"  id="examdate" name="examdate" />
                                </div>
                              </div>
                            <div class="mb-3 row">
                                <label for="examtime" class="col-md-2 col-form-label">Exam Time</label>
                                <div class="col-md-10">
                                  <input class="form-control" type="time" value="12:30:00" id="examtime" name="examtime">
                                </div>
                              </div>
                            <button type="submit" id="submitReg" name="submitReg" class="btn btn-primary">Book Exam</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- / Content -->
    <div class="content-backdrop fade"></div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$('#paperno').change(function() {
    if ($('#paperno').val() !== "") {
        var paper = $('#paperno').val();
        $.ajax({
            url: "/get-duration",
            data: {
                paper: paper
            },
            method: "POST",
            success: function(jsonData) {
                $('#getsecond').val(jsonData.duration);
                $('#subject_id').val(jsonData.subject_id);
            }
        });
    } else {
        $('#getsecond').val("");
        $('#subject_id').val("");
    }
});
$(document).on('keyup', '#SearchStudent', function() {
    $('#gradenumberlist').val("");
    $('#students').val("");
    $('#SearchStudent').autocomplete({
        autoFocus: true,
        source: "/auto-complete-student",
        minLength: 4,
        select: function(event, ui) {
            $('#studentid').val(ui.item.studentid);
        }
    });
});

$(document).ready(function (){
    var loading = false;
    $("#submitReg").click(function (event){
        event.preventDefault();
        if(loading){
            return ;
        }
        //paperno examdate  examtime SearchStudent
        loading = true;
        var paperno = $("#paperno").val(), examdate = $("#examdate").val(), examtime = $("#examtime").val(), SearchStudent = $("#SearchStudent").val();

        if((paperno == "") || (examdate == "") || (examtime == "") || (SearchStudent == ""))
        {
            Swal.fire({
              icon: 'warning',
              title: 'Empty field detected!',
              text: 'Fill the required fields',
            });
            loading = false;
        }
        else {
            var data = $("#formRegister").serialize();
            $.ajax({
                type: "POST",
                url: "/book-exam",
                contentType: "application/x-www-form-urlencoded",
                data: data,
                success: function (jsonData) {
                    alert(jsonDataw)
                    if (jsonData.status == 200) {
                        Swal.fire({
                          icon: 'success',
                          title: 'Successfully registered',
                        }).then((result) => {
                            location.reload();
                        });
                    } else {
                        Swal.fire({
                          icon: 'error',
                          title: 'Oops...',
                          text: 'Try again!',
                        }).then((result) => {
                            location.reload();
                        });
                    }
                }
            });
        }
    });
});
</script>
{% endblock %}